.App {
    background: white;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr minmax(auto, 800px) 1fr;
    grid-template-rows: 100px auto;
    align-items: stretch;
}

.App-navigation {
    background: blue;
    grid-column: span 3;
    color: white;
}

.App-intro {
    background: lightcoral;
    grid-column: span 3;
    grid-row: 2;
}

.App-intro h2 {
    color: white;
    justify-self: start;
}

.App-sidebar {
    background: rgba(255, 255, 255, 0.9);
    display: relative;
    padding: 10px;
}


.App-sidebar img {
    max-width: 100%;
}

.App-navigation h1 {
    font-size: 36pt;
}

.Article-title {
    font-size: 2em;
}

.App-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.App-navigation a {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5) inset;
}

.App-mainContent {
    grid-column: 2;
}


