.Homepage {
    background: white;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 1fr 100px;
    grid-template-rows: 300px auto 100px auto;
}

.Homepage-intro{
    grid-column: span 5;
    grid-row: 1;
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    background: #49beb7;
    background-size: auto;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.Homepage-intro h1{
   grid-column: 2;
   grid-row: 2;
   color: white;
}

.Homepage-instruction{
    grid-row: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #003262;
}

h1{
    grid-row: 3;
    grid-column: span 5;
    text-align: center;
}

.Homepage-template-display{
    grid-row: 4;
    grid-column: span 5;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


