.CheckoutForm {
    grid-row: 2;
    padding: 15px;
}

.CheckoutForm-stripe {
    font-family: 'Futura';
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px;
    background: #F0F5FB;
}

.CheckoutForm-total {
    display: flex;
    justify-content: space-between;
}


.CheckoutForm-total p {
    /* color: #49beb7; */
    font-family: 'Futura';
    font-size: 18px;
    color: black;
    /* margin: 12px; */
}

.CheckoutForm h4 {
    /* color: #49beb7; */
    font-family: 'Futura';
    font-size: 22px;
    margin: 0px;
}

.CheckoutForm-submitButtonArea {
    text-align: center;
}

.CheckoutForm-submitButtonArea button {
    background: #ff502f;
    color: white;
    font-family: 'Carter One', cursive;
    font-size: 26px;
    margin-top: 12px;
    border-radius: 4px;
    width: 62%;
}