.LandingPage {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: stretch;
}


.LandingPage-header {
  background-color: #282c34;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  grid-column: span 3;
}

.LandingPage a {
  color: #61dafb;
}
