
.Header{
    background: #ff502f;
    color: #ebefd0;
    display:grid;
    grid-template-columns: 100px 1fr 1fr 100px;
    grid-template-rows: 100px;
}

.Header img{
    height: 120px;
    width: 110px;
    grid-column: 2;
    align-self: center;
}

.Header-title {
    font-size: 2.5em;
    align-self: center;
}
