
.Header{
    background: #003262;
    color: #BC9B6A;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
}

.Header img{
    height: 120px;
    width: 110px;
    grid-column: 1;
    align-self: center;
}

.Header-title {
    font-size: 3em;
    align-self: center;
}
